.colab{
    height: 484px;
    width: 1216px;
    background: rgba(196, 25, 25, 0.03);
    margin: auto;
    margin-bottom: 200px;
    padding: 10px;
}
.fotop{
    display: flex;
    flex-direction: column;
    margin-left: 550px;
}
.vj{
    display: flex;
    justify-content: center;
    color: darkred;
}
