.Logo{
    display: flex;
    align-items: center;
    margin-left: 70px;
    gap: 20px;
}
.Sections{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 300px;
    gap: 50px;
    color: #667085;
}
.A{
    font-family: 'Inter';
    color: #667085;
    font-size: 30px;
}
.Conta{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 350px;
}
.Cadastro{
    border-radius: 8px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    width: 165px;
    background-color: darkred;
}
.B{
    color: white;
}